* {
	
	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid red;
}

#container {
	margin: 0px auto;
	width: 930px;
}

#top-bar {
	height: 150px;
}

#middle-content {
	height: 350px;
}

#bottom-content {
	height: 300px;
	padding-left: 20px;
}

.box {
	height: 280px;
	width: 220px;
	display: inline-block;
	margin: 0, auto;

}